@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width-device-width" />
        <title>Index</title>
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="css/site.css" rel="stylesheet"/>
    </head>
    <body class="container">
        <h1 class="h1">Welcome to the  Bookstore!!!</h1>
       <img src ="Images/logo.jpg" class="logo" alt="logo"/> 
       <input type="button" value="Click Me" class="btn btn-danger" />
   </body>
</html>
